@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255; 
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  :root {
    --main-background: var(--dim-background);
    --main-search-background: var(--dim-search-background);
    --main-sidebar-background: var(--dim-sidebar-background);
    --main-accent: var(--accent-blue);

    --dark-background: 0 0 0;
    --dim-background: 22 33 44;
    --light-background: 255 255 255;

    --dark-search-background: 32 35 39;
    --dim-search-background: 39 51 64;
    --light-search-background: 239 243 244;

    --dark-sidebar-background: 22 24 28;
    --dim-sidebar-background: 30 39 50;
    --light-sidebar-background: 247 249 249;

    --accent-yellow: 255 213 0;
    --accent-blue: 29 155 240;
    --accent-pink: 249 26 130;
    --accent-purple: 120 87 255;
    --accent-orange: 255 122 0;
    --accent-green: 0 184 122;
  }

  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply hover-animation bg-main-background  text-light-primary dark:text-dark-primary;
  }
}
@layer components {
  .flex-center{
    @apply justify-center items-center
  }
  .hover-animation {
    @apply transition-colors duration-200;
  }
  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
  }
}
